salesforce-query/src/main/mule/salesforce-query.xml
<?xml version="1.0" encoding="UTF-8"?>

<mule xmlns:ee="http://www.mulesoft.org/schema/mule/ee/core" xmlns:salesforce="http://www.mulesoft.org/schema/mule/salesforce"
	xmlns:http="http://www.mulesoft.org/schema/mule/http"
	xmlns="http://www.mulesoft.org/schema/mule/core" xmlns:doc="http://www.mulesoft.org/schema/mule/documentation" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://www.mulesoft.org/schema/mule/core http://www.mulesoft.org/schema/mule/core/current/mule.xsd
http://www.mulesoft.org/schema/mule/http http://www.mulesoft.org/schema/mule/http/current/mule-http.xsd
http://www.mulesoft.org/schema/mule/salesforce http://www.mulesoft.org/schema/mule/salesforce/current/mule-salesforce.xsd
http://www.mulesoft.org/schema/mule/ee/core http://www.mulesoft.org/schema/mule/ee/core/current/mule-ee.xsd">
	<flow name="salesforce-queryFlow" doc:id="820089a4-1a38-4d1a-8ccd-2b1759c8c948" >
		<http:listener doc:name="Listener" doc:id="43b7375c-5bed-4041-8800-bbb63160ea0f" config-ref="HTTP_Listener_config" path="/query"/>
		<logger level="INFO" doc:name="Logger" doc:id="02672001-5246-4642-a354-b9a37e316a35" message='#["sf query flow"]'/>
		<salesforce:query doc:name="Query" doc:id="292fd7c5-207f-4bc0-b23c-52956d8edf09" config-ref="Salesforce_Config">
			<salesforce:salesforce-query ><![CDATA[select salutation, firstName, lastName, email from contact WHERE email = 'rama@rao123.com']]></salesforce:salesforce-query>
		</salesforce:query>
		<logger level="INFO" doc:name="Logger" doc:id="19508c9e-be9d-4f2d-b8c4-481f1dfcb98e" message="#[%dw 2.0&#10;output application/json&#10;---&#10;payload]"/>
		<ee:transform doc:name="Transform Message" doc:id="b613dfa2-04ec-4cda-bd7e-ee6deedd4764" >
			<ee:message >
				<ee:set-payload ><![CDATA[%dw 2.0
output application/json
---
payload]]></ee:set-payload>
			</ee:message>
		</ee:transform>
	</flow>
</mule>
